{% extends 'base.html.twig' %}

{% block title %}Création d'un lieu - {{ parent() }}{% endblock %}

{% block body %}

    <main class="form-signin text-center">
        <div class="row text-center">
            <h2>Ajouter un lieu à {{ lieu.ville.nom }}</h2>
        </div>

        {{ form_start(createLieuForm) }}

        {{ form_label(createLieuForm.nom, "Nom", {'label_attr' : {'class' : 'form-label'}}) }}
        {{ form_errors(createLieuForm.nom) }}
        {{ form_widget(createLieuForm.nom, {'attr' : {'class' : 'form-control' , 'placeholder': 'Nom'}}) }}

        {{ form_label(createLieuForm.rue, "Rue", {'label_attr' : {'class' : 'form-label'}}) }}
        {{ form_errors(createLieuForm.rue) }}
        {{ form_widget(createLieuForm.rue, {'attr' : {'class' : 'form-control' , 'placeholder': 'Rue'}}) }}

        {{ form_label(createLieuForm.latitude, "Latitude", {'label_attr' : {'class' : 'form-label'}}) }}
        {{ form_errors(createLieuForm.latitude) }}
        {{ form_widget(createLieuForm.latitude, {'attr' : {'class' : 'form-control' , 'placeholder': 'Latitude'}}) }}

        {{ form_label(createLieuForm.longitude, "Longitude", {'label_attr' : {'class' : 'form-label'}}) }}
        {{ form_errors(createLieuForm.longitude) }}
        {{ form_widget(createLieuForm.longitude, {'attr' : {'class' : 'form-control' , 'placeholder': 'Longitude'}}) }}


        <div id="lieuVille">
            {{ form_label(createLieuForm.ville, "Ville", {'label_attr' : {'class' : 'form-label'}}) }}
            {{ form_errors(createLieuForm.ville) }}
            {{ form_widget(createLieuForm.ville, {'attr' : {'class' : 'form-select' , 'placeholder': 'Ville'}}) }}
        </div>


        <button class="btn btn-lg btn-secondary form-creation-lieu" type="submit">Ajouter</button>

        {{ form_end(createLieuForm) }}
    </main>

{% endblock %}
