
{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
<main class="form-signin text-center">
    <div class="row text-center">
        <h2>Ajouter un utilisateur</h2>
    </div>

    {{ form_start(registrationForm) }}

    {{ form_label(registrationForm.email, "Email", {'label_attr' : {'class' : 'form-label'}}) }}
    {{ form_widget(registrationForm.email, {'attr' : {'class' : 'form-control', 'placeholder': 'Email utilisateur'}}) }}

    {{ form_label(registrationForm.plainPassword, "Mot De Passe", {'label_attr' : {'class' : 'form-label'}}) }}
    {{ form_widget(registrationForm.plainPassword, {'attr' : {'class' : 'form-control', 'placeholder': 'Mot de passe utilisateur'}}) }}

    {{ form_label(registrationForm.pseudo, "Pseudo", {'label_attr' : {'class' : 'form-label'}}) }}
    {{ form_widget(registrationForm.pseudo, {'attr' : {'class' : 'form-control' , 'placeholder': 'Pseudo utilisateur'}}) }}

    {{ form_label(registrationForm.prenom, "Prenom", {'label_attr' : {'class' : 'form-label'}}) }}
    {{ form_widget(registrationForm.prenom, {'attr' : {'class' : 'form-control' , 'placeholder': 'Prenom utilisateur'}}) }}

    {{ form_label(registrationForm.nom, "Nom", {'label_attr' : {'class' : 'form-label'}}) }}
    {{ form_widget(registrationForm.nom, {'attr' : {'class' : 'form-control' , 'placeholder': 'Nom utilisateur'}}) }}

    {{ form_label(registrationForm.campus, "Campus", {'label_attr' : {'class' : 'form-label'}}) }}
    {{ form_widget(registrationForm.campus, {'attr': {'class' : 'form-select ' , 'placeholder': 'Campus utilisateur'}}) }}

    {{ form_label(registrationForm.telephone, "Telephone", {'label_attr' : {'class' : 'form-label'}}) }}
    {{ form_widget(registrationForm.telephone, {'attr' : {'class' : 'form-control' , 'placeholder': 'Telephone utilisateur'}}) }}<br>

    <button type="submit" class="btn btn-secondary">Ajouter</button>
    {{ form_end(registrationForm) }}
</main>
{% endblock %}


