{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Home
{% endblock %}

{% block body %}
    {% if app.user %}
<div class="profil">
    <p>Date du jour: {{ "now"| date('d/m/Y ') }} {{ app.user.pseudo }} {%  for role in app.user.roles%}{{role}}{% endfor %}</p>

</div>
        <main class="form-filtre text-center">

            <div class="row text-center">
                <h3>Filtrer les sorties</h3>
            </div>

                {{ form_start(searchForm) }}

                <div class="form-group row align-items-center">
                         {{ form_label(searchForm.campus, "Campus", {'label_attr' : {'class' : 'col-form-label col-md-2 '}}) }}

                    <div class="col-md-2 align-items-center">
                         {{ form_widget(searchForm.campus, {'attr': {'class' : 'form-select '}}) }}
                    </div>

                        {{ form_label(searchForm.organisateur ,"Sorties dont je suis l'organisateur(trice)", {'label_attr' : {'class' : 'col-form-label col-md-2 '}}) }}
                    <div class="col-md-2 align-items-center">
                        {{ form_widget(searchForm.organisateur , {'attr' : {'class' : 'custom-control-input'}}) }}
                    </div>
                </div>

                <div class="form-group row align-items-center">
                        {{ form_label(searchForm.search, "Recherchez" , {'label_attr' : {'class' : 'col-form-label col-md-2'}}) }}

                    <div class="col-md-2 align-items-center">
                    {{ form_widget(searchForm.search, {'attr': {'class' : 'form-control'}}) }}
                    </div>
                    {{ form_label(searchForm.inscrit ,"Sorties auxelles je suis inscrit(e)", {'label_attr' : {'class' : 'col-form-label col-md-2'}}) }}

                    <div class="col-md-2 align-items-center">
                        {{ form_widget(searchForm.inscrit , {'attr' : {'class' : 'custom-control-input'}}) }}
                    </div>
                </div>

                <div class="form-group row align-items-center">
                    {{ form_label(searchForm.dateMin, "Entre le ", {'label_attr' : {'class' : 'col-form-label col-md-2'}}) }}

                    <div class="col-md-2 align-items-center">
                        {{ form_widget(searchForm.dateMin, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                    {{ form_label(searchForm.nonInscrit ,"Sorties auxelles je ne suis pas inscrit(e)", {'label_attr' : {'class' : 'col-form-label col-md-2'}}) }}
                    <div class="col-md-2 align-items-center">
                        {{ form_widget(searchForm.nonInscrit, {'attr' : {'class' : 'custom-control-input'}}) }}
                    </div>
                </div>

                <div class="form-group row align-items-center">
                        {{ form_label(searchForm.dateMax, "Et le ", {'label_attr' : {'class' : 'col-form-label col-md-2'}}) }}
                    <div class="col-md-2 align-items-center">
                        {{ form_widget(searchForm.dateMax , {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                    {{ form_label(searchForm.sortiePassee ,"Sorties passées", {'label_attr' : {'class' : 'col-form-label col-md-2'}}) }}
                    <div class="col-md-2 align-items-center">

                        {{ form_widget(searchForm.sortiePassee , {'attr' : {'class' : 'custom-control-input'}}) }}
                    </div>
                </div>

                      <button class="btn btn-secondary text-center" type="submit">Rechercher</button>
                    {{ form_end(searchForm) }}

        </main>

        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title text-center" >Liste des sorties</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom de la sortie </th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Nombre de place</th>
                        <th>Etat</th>
                        <th>Inscrits</th>
                        <th>Organisateur</th>
                        <th>Action</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        {# 1-  Mettre lien pour afficher le profil de l'orga
                        2- gérer inscrit ou non
                        3- gérer les actions
                        #}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription | date('d/m/Y ') }}</td>
                            <td>{{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax}}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td>
                            {% for s in app.user.sorties %}
                                {% if s.id == sortie.id %}
                                     Oui
                                {% endif %}
                            {% endfor %}</td>
                            {# Faire la page afficher profil d'un autre utilisateur, changer la path par la suite #}
                            <td ><a href="{{ path('profil_profilParticipant', {'id':sortie.getOrganisateurSortie.id}) }}">{{ sortie.getOrganisateurSortie.pseudo }}</a></td>
                            {# Générer les actions possibles : s'inscrire, se désinscrire, afficher si en cours, publier
                            Creer une action inscrire qui prend en parametre une sortie et un participant
                            en cliquant sur le bouton s'inscrire le participant se rajoute à la liste, la table
                            participant_sortie est alimentée par l'alimentation des tables sorties champ participants et de la table
                            participant champ sorties#}

                             <td>

        {# affichage du bouton Afficher détail #}

                                  <a href="{{ path( 'main_afficher', {'id': sortie.id} ) }}" class="btn btn-secondary"
                                     role="button">
                                      Afficher

                                  </a>
        {# affichage du bouton s'inscrire si Ouvert et si non inscrit #}


                                      {% if sortie.etat.libelle == ouverte() and app.user.sorties.contains(sortie) == false%}
                                       <a href="{{ path( 'main_sinscrire', {'id': sortie.id} ) }}" class="btn btn-secondary"
                                        role="button">
                                         S'inscrire
                                         </a>

                                  {% endif %}





                            {% for s in app.user.sorties %}

                                  {% if s.id == sortie.id%}
                                      {% if sortie.etat.libelle == ouverte() or sortie.etat.libelle == cloturee()%}
                                          <a href="{{ path( 'main_desinscription', {'id': sortie.id} ) }}" class="btn btn-secondary"
                                             role="button">
                                              Se Désinscrire
                                          </a>
                                              {% endif %}
                                  {% endif %}
                            {% endfor %}

        {# affichage du bouton modifier si on est le createur et si l'etat est creee#}
                                 {% if  creee()  == sortie.etat.libelle %}
                                     {% if sortie.getOrganisateurSortie.id == app.user.id %}
                                         <a href="{{ path( 'sortie_create', {'id': sortie.id} ) }}" class="btn btn-secondary"
                                             role="button">
                                             Modifier
                                          </a>
                                     {% endif %}
                                 {% endif %}

        {# affichage du bouton annuler si on est le createur et si etat ouvert et cloture#}
                            {% if sortie.getOrganisateurSortie.id == app.user.id %}
                                {% if sortie.etat.libelle == ouverte() %}
                                          <a href="{{ path( 'sortie_delete', {'id': sortie.id} ) }}" class="btn btn-secondary"
                                             role="button">
                                              Annuler
                                          </a>
                                {% elseif sortie.etat.libelle == cloturee() %}
                                         <a href="{{ path( 'sortie_delete', {'id': sortie.id} ) }}" class="btn btn-secondary"
                                           role="button">
                                            Annuler
                                        </a>
                                {% endif %}
                            {% endif %}


        {# affichage du bouton annuler si on est le createur et si etat ouvert et cloture#}
                                  {% if sortie.getOrganisateurSortie.id == app.user.id and sortie.etat.libelle == creee() %}
                                          <a href="{{ path( 'sortie_publier', {'id': sortie.id} ) }}" class="btn btn-secondary"
                                             role="button">
                                              Publier
                                          </a>
                                  {% endif %}

                                               </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>


    {% else %}
        <p> Veuillez vous connecter : <a href="{{ path('main_home') }}">Connexion</a> </p>
    {% endif %}

{% endblock %}