{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Home
{% endblock %}

{% block body %}
    {% if app.user %}
<div>
    <p>Date du jour: {{ "now"| date('d/m/Y ') }} </p>
    <p>{{ app.user.pseudo }}</p>
</div>
        <div class="container">
        <main>
        <h3>Filtrer les sorties</h3>
         {{ form_start(searchForm) }}
            {{ form_label(searchForm.campus) }}{{ form_widget(searchForm.campus) }}

            {{ form_label(searchForm.search) }} {{ form_widget(searchForm.search) }}

            {{ form_label(searchForm.dateMin) }}{{ form_widget(searchForm.dateMin) }}

            {{ form_label(searchForm.dateMax) }}{{ form_widget(searchForm.dateMax) }}

    <div>
            {{ form_label(searchForm.organisateur) }}{{ form_widget(searchForm.organisateur) }}
            {{ form_label(searchForm.inscrit) }}{{ form_widget(searchForm.inscrit) }}
            {{ form_label(searchForm.nonInscrit) }} {{ form_widget(searchForm.nonInscrit) }}
            {{ form_label(searchForm.sortiePassee) }}{{ form_widget(searchForm.sortiePassee) }}<br>

    </div><button>Rechercher</button>
            {{ form_end(searchForm) }}
         {#    <form>
            <div class="col-md-4">
            <select class="form-select form-select-lg mb-3" id="choixCampus" aria-label=".form-select-lg example">
                <option selected>Filtrer par campus</option>
                {% for c in campus %}
                    <option id="campus" value="{{ c.id }}">{{ c.nom | upper }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-4">
                 <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div>
            <div>
                <p>Entre </p>
                <input type="datetime-local" >
                <p>Et</p>
                <input type="datetime-local" >

            </div>

            <div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"  id="id" value="{{app.user.id }}">
                    <label class="form-check-label" for="flexCheckDefault">
                        Sorties dont je suis l'organisateur(trice)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"  id="id" value="{{app.user.id }}">
                    <label class="form-check-label" for="flexCheckDefault">
                        Sorties auxquelles je suis incrit(te)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"  id="id" value="{{app.user.id }}">
                    <label class="form-check-label" for="flexCheckDefault">
                        Sorties auxquelles je ne suis pas incrit(te)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Sorties passées
                    </label>
                </div>

            </div>
            <div>
                <button class="btn btn-lg btn-secondary" type="submit">
                    Rechercher
                </button>
            </div>
      </form>
         #}

        </main>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title text-center" >Liste des sorties</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom de la sortie </th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Nombre de place</th>
                        <th>Etat</th>
                        <th>Inscrits</th>
                        <th>Organisateur</th>
                        <th>Action</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        {# 1-  Mettre lien pour afficher le profil de l'orga
                        2- gérer inscrit ou non
                        3- gérer les actions
                        #}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription | date('d/m/Y ') }}</td>
                            <td>{{ sortie.nbInscriptionsMax}}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td>X</td>
                            {# Faire la page afficher profil d'un autre utilisateur, changer la path par la suite #}
                            <td ><a href="{{ path('profil_profilParticipant', {'id':sortie.getOrganisateurSortie.id}) }}">{{ sortie.getOrganisateurSortie.pseudo }}</a></td>
                            <td>Action</td>




                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>


    {% else %}
        <p> Veuillez vous connecter : <a href="{{ path('app_login') }}">Connexion</a> </p>
    {% endif %}

{% endblock %}