{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Home
{% endblock %}

{% block body %}
    {% if app.user %}
<div>
    <p>Date du jour: {{ "now"| date('d/m/Y ') }} </p>
    <p>{{ app.user.pseudo }} {%  for role in app.user.roles%}{{role}}{% endfor %}</p>
</div>
        <main class="form-filtre text-center">
            <div class="row ">
                <h3>Filtrer les sorties</h3>
            </div>

            <form>
                {{ form_start(searchForm) }}

                <div class="form-group row text-center">
                    {{ form_label(searchForm.campus, "Campus", {'label_attr' : {'class' : 'col-auto col-form-label-lg '}}) }}

                    <div class="col-2">
                    {{ form_widget(searchForm.campus, {'attr': {'class' : 'form-select '}}) }}

                    </div>
                    <div class="col-4">
                    {{ form_label(searchForm.organisateur ,"Sorties dont je suis l'organisateur(trice)", {'label_attr' : {'class' : 'custom-control-label '}}) }}
                        {{ form_widget(searchForm.organisateur , {'attr' : {'class' : 'custom-control-input '}}) }}
                    </div>

                </div>

                <div class="form-group row  text-center">
                    {{ form_label(searchForm.search, "Recherchez" , {'label_attr' : {'class' : 'col-auto col-form-label-lg'}}) }}
                    <div class="col-2">
                    {{ form_widget(searchForm.search, {'attr': {'class' : 'form-control'}}) }}
                </div>
                    <div class="col-4">
                        {{ form_label(searchForm.inscrit ,"Sorties auxelles je suis inscrit(e)", {'label_attr' : {'class' : 'custom-control-label'}}) }}
                        {{ form_widget(searchForm.inscrit , {'attr' : {'class' : 'custom-control-input'}}) }}
                    </div>

                </div>
                <div class="form-group row  text-center">
                    {{ form_label(searchForm.dateMin, "Entre le ", {'label_attr' : {'class' : 'col-auto col-form-label-lg'}}) }}

                    <div class="col-2">
                        {{ form_widget(searchForm.dateMin, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                    <div class="col-4">
                        {{ form_label(searchForm.nonInscrit ,"Sorties auxelles je ne suis pas inscrit(e)", {'label_attr' : {'class' : 'custom-control-label'}}) }}
                        {{ form_widget(searchForm.nonInscrit, {'attr' : {'class' : 'custom-control-input'}}) }}
                    </div>
                </div>

                    <div class="form-group row  text-center">

                        {{ form_label(searchForm.dateMax, "Et le ", {'label_attr' : {'class' : 'col-auto col-form-label-lg'}}) }}

                    <div class="col-2">
                        {{ form_widget(searchForm.dateMax , {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                <div class="col-4">
                    {{ form_label(searchForm.sortiePassee ,"Sorties passées", {'label_attr' : {'class' : 'custom-control-label'}}) }}
                    {{ form_widget(searchForm.sortiePassee , {'attr' : {'class' : 'custom-control-input'}}) }}

                </div>
                    </div>

                <div class="col-4">
                <button class="btn btn-secondary text-center" >Rechercher</button>
                </div>
                {{ form_end(searchForm) }}

            </form>


        </main>

        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title text-center" >Liste des sorties</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom de la sortie </th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Nombre de place</th>
                        <th>Etat</th>
                        <th>Inscrits</th>
                        <th>Organisateur</th>
                        <th>Action</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        {# 1-  Mettre lien pour afficher le profil de l'orga
                        2- gérer inscrit ou non
                        3- gérer les actions
                        #}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription | date('d/m/Y ') }}</td>
                            <td>{{ sortie.nbInscriptionsMax}}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td>X</td>
                            {# Faire la page afficher profil d'un autre utilisateur, changer la path par la suite #}
                            <td ><a href="{{ path('profil_profilParticipant', {'id':sortie.getOrganisateurSortie.id}) }}">{{ sortie.getOrganisateurSortie.pseudo }}</a></td>
                            {# Générer les actions possibles : s'inscrire, se désinscrire, afficher si en cours, publier
                            Creer une action inscrire qui prend en parametre une sortie et un participant
                            en cliquant sur le bouton s'inscrire le participant se rajoute à la liste, la table
                            participant_sortie est alimentée par l'alimentation des tables sorties champ participants et de la table
                            participant champ sorties#}
                              <td><a href="{{ path( 'main_sinscrire', {'id': sortie.id} ) }}" class="btn btn-secondary"
                                   role="button">
                                    S'inscrire
                                </a></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>


    {% else %}
        <p> Veuillez vous connecter : <a href="{{ path('app_login') }}">Connexion</a> </p>
    {% endif %}

{% endblock %}