{% extends 'base.html.twig' %}

{% block title %}
    profil de {{ participant.pseudo }}
{% endblock %}

{% block body %}
    <main class="form-profil text-center">
    <h2>Modifiez votre profil</h2>
    <div class="form-photo-profil">
        <img src="#" title="photo du profil">
    </div>
         {{ form_start(profil) }}

            {{ form_label(profil.pseudo, "Pseudo", {'label_attr': {'class': 'form-floating '}}) }}
            {{ form_errors(profil.pseudo) }}
            {{ form_widget(profil.pseudo, {'attr': {'class': 'form-control text-center'}}) }}

            {{ form_label(profil.prenom, "Prenom", {'label_attr': {'class': 'form-floating '}}) }}
            {{ form_errors(profil.prenom) }}
            {{ form_widget(profil.prenom, {'attr': {'class': 'form-control text-center '}}) }}

            {{ form_label(profil.nom, "Nom", {'label_attr': {'class': 'form-floating '}}) }}
            {{ form_errors(profil.nom) }}
            {{ form_widget(profil.nom, {'attr': {'class': 'form-control text-center '}}) }}

        {{ form_label(profil.telephone, "Telephone", {'label_attr': {'class': 'form-floating '}}) }}
        {{ form_errors(profil.telephone) }}
        {{ form_widget(profil.telephone, {'attr': {'class': 'form-control text-center '}}) }}

        {{ form_label(profil.email, "Email", {'label_attr': {'class': 'form-floating '}}) }}
        {{ form_errors(profil.email) }}
        {{ form_widget(profil.email, {'attr': {'class': 'form-control text-center '}}) }}

        {{ form_label(profil.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'form-floating '}}) }}
        {{ form_errors(profil.plainPassword.first) }}
        {{ form_widget(profil.plainPassword.first, {'attr': {'class': 'form-control text-center '}}) }}

        {{ form_label(profil.plainPassword.second, "Confirmation", {'label_attr': {'class': 'form-floating '}}) }}
        {{ form_errors(profil.plainPassword.second) }}
        {{ form_widget(profil.plainPassword.second, {'attr': {'class': 'form-control text-center '}}) }}

       {# {{ form_widget(profil) }}
        {{ form_start(profil) }}
        {{ form_widget(profil) }}#}
        <button class="btn btn-lg btn-secondary" type="submit">
            Valider
        </button>

        <button class="btn btn-lg btn-secondary" type="submit">
            Annuler
        </button>
        {{ form_end(profil) }}
    </div>
</main>
{% endblock %}
