{% extends 'base.html.twig' %}

{% block title %}Détail Sortie{% endblock %}

{% block body %}
    <main class="form-filtre ">

        <div class="row text-center">
            <h3>Sortie {{ sortie.nom | upper }} organisée par {{ sortie.organisateurSortie.pseudo }} </h3>
        </div>

        <div class="row ">
            <div class="col-4">
                <h5>Nom de la sortie : </h5>
            </div>
            <div class="col-4 ">
                <p>{{ sortie.nom }}</p>
            </div>

            <div class="col-2 ">
                <h5>Campus : </h5>
            </div>
            <div class="col-2 ">
                <p>{{ sortie.campus.nom}}</p>
            </div>
        </div>

        <div class="row ">
            <div class="col-4">
                <h5>Date et heure de la sortie :</h5>
            </div>
            <div class="col-4">
                <p> {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</p>
            </div>
            <div class="col-2 ">
                <h5>Lieu :</h5>
            </div>
            <div class="col-2 ">
                <p>{{ sortie.lieu.nom}}</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-4">
                <h5>Date limite d'inscription : </h5>
            </div>
            <div class="col-4">
                <p>{{ sortie.dateLimiteInscription | date('d/m/Y')}}</p>
            </div>
            <div class="col-2">
                <h5>Rue:</h5>
            </div>
            <div class="col-2">
                <p>{{ sortie.lieu.rue}}</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-4">
                <h5>Nombre de place :</h5>
            </div>
            <div class="col-4">
                <p>{{ sortie.participants | length}} / {{ sortie.nbInscriptionsMax}}</p>
            </div>
            <div class="col-2">
                <h5>Code Postal :</h5>
            </div>
            <div class="col-2">
                <p>{{ sortie.lieu.ville.codePostal}}</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-4">
                <h5>Duree :</h5>
            </div>
            <div class="col-4">
                <p>{{ sortie.duree}} minutes</p>
            </div>
            <div class="col-2">
                <h5>Latitude :</h5>
            </div>
            <div class="col-2">
                <p>{{ sortie.lieu.latitude}}</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-4">
                <h5>Infos:</h5>
            </div>
            <div class="col-4">
                <p>{{ sortie.infosSortie}}</p>
            </div>
            <div class="col-2">
                <h5>Longitude :</h5>
            </div>
            <div class="col-2">
                <p>{{ sortie.lieu.longitude}}</p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-2 col-md-offset-5 ">
                <a href="{{ path( 'main_home') }}" class="btn btn-secondary btn-lg"
                   role="button">
                    Retour
                </a>
            </div>
        </div>

            </div>
        </div>
    </main>
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title text-center">Liste des participants inscrits</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Pseudo </th>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>

                </thead>
                <tbody>
                {% for participants in sortie.participants %}
                <tr>
                    <td>{{participants.pseudo}}</td>
                    <td>{{ participants.nom}}</td>
                    <td ><a href="{{ path('profil_profilParticipant', {'id':participants.id}) }}">Profil</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}